nav{
  a{
    margin-bottom: 10px;
  }
}

header{
  margin: 20px;
  nav{
    width: 100px;
  }
}
.header2{
  margin: 20px;
  nav{
    width: 100px;
  }
}
header3{
  margin: 20px;
  nav{
    width: 100px;
  }
}